.about-me-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 80px;
    z-index: 100;
}

.about-me-carousel {
    width: 40%;
    border: 1px solid transparent;
    margin-right: 20px;
    border-radius: 8px;
}

.about-me-descs {
    width: 60%;
    border: 1px solid transparent;
    padding: 15px;
}

.about-me {
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
}

.about-me-desi {
    font-weight: 600;
    font-size: 32px;
    display: flex;
    gap: 12px;
    line-height: 68px;
}

.about-me-desc {
    font-size: 14px;
    font-weight: 400;
}

.about-me-desc>span>p {
    margin-bottom: 8px;
}