.SideNavBar {
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 5px;
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid transparent;
    overflow: scroll;
    overflow-x:hidden;
}

.SideNavBar>p {
    border: 1px solid rgba(81, 169, 241, 0.178);
    padding: 5px 8px;
    border-radius: 5px;
    margin: 40px 5px;
    letter-spacing: 2px;
    width: 89%;
}

@media (max-width: 575.98px) {
    .SideNavBar {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .SideNavBar {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}