.breadcrum {
    margin-top: 8px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: #ccc;
    border: 1px solid rgba(107, 104, 104, 0.8);
    width: auto;
    height: 25px;
    padding: 4px 8px;
    border-radius: 15px;
}