@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none !important;
}

::-webkit-scrollbar {
    width: 4px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: inherit;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.react-pdf__Page {
    margin-top: 10px !important;
}

.react-pdf__Page__textContent {
    display: none !important;
}

.annotationLayer {
    padding: 0px;
    width: 0px !important;
    height: 0px !important;
    display: none !important;
}

.react-pdf__Page__canvas {
    margin: 0 auto !important;
    display: block !important;
    user-select: none !important;
}